$_left: translate3d(-50vw, 0px, 0px); 
$top: translate3d(0px, -100px, 0px); 
$right: translate3d(50vw, 0px, 0px); 
$bottom: translate3d(0px, 50vh, 0px); 
$middle: translate3d(0px, 0px, 0px); 
$scaleDown: scale(.8);
$scaleDefault: scale(1);
$scaleUp: scale(1.2);

$opacityTime: 3000ms;
$transformTime: 1000ms;
$transitionDur: 2000ms;

.view.enter {
  filter: blur(10px);
  opacity: 0;
  transform: $top;
}

.view.enter-active {
  filter: blur(0px);
  opacity: 1;
  transform: $middle;
  transition: 1000ms;
}

.view.enter-done {
  transform: $middle;
  opacity: 1;
}


.view.exit {
  opacity: 1;
  transform: $middle;
}

.view.exit-active {
  opacity: 0;
  transform: $bottom;
}

.view.exit-done {
  opacity: 0;
  transform: $bottom;
}





/* 
.MusicView.enter {
  transform: $left;
}

.MusicView.enter-active {
  transform: $middle;
}

.StoryView.enter {
  transform: $top;
}

.StoryView.enter-active {
  transform: $middle;
}

.WorkView.enter {
  transform: $bottom;
}

.WorkView.enter-active {
  transform: $middle;
}

.ContactView.enter {
  transform: $right;
}

.ContactView.enter-active {
  transform: $middle;
}

 */













