$_left: translate3d(-50vw, 0px, 0px); 
$_top: translate3d(0px, -50vh, 0px); 
$_right: translate3d(50vw, 0px, 0px); 
$_bottom: translate3d(0px, 50vh, 0px); 
$_middle: translate3d(0px, 0px, 0px); 
$_scaleDown: scale(.8);
$_scaleDefault: scale(1);
$_scaleUp: scale(1.2);

$_opacityTime: 3000ms;
$_transformTime: 1000ms;

.view {
  transition-duration: .4s;
}

.view.enter {
  opacity: 0;
  transform: $_top;
}

.view.enter-active {
  opacity: 1;
  transform: $_middle;
}

.view.enter-done {
  transform: $_middle;
}


.view.exit {
  opacity: 1;
  transform: $_middle;
}

.view.exit-active {
  opacity: 0;
  transform: $_top;
}

.view.exit-done {
  transform: $_top;
}





/* 
.MusicView.enter {
  transform: $_left;
}

.MusicView.enter-active {
  transform: $_middle;
}

.StoryView.enter {
  transform: $_top;
}

.StoryView.enter-active {
  transform: $_middle;
}

.WorkView.enter {
  transform: $_bottom;
}

.WorkView.enter-active {
  transform: $_middle;
}

.ContactView.enter {
  transform: $_right;
}

.ContactView.enter-active {
  transform: $_middle;
}

 */













