.container {
  position: relative;
}

/* .page {
  position: absolute;
  left: 0px;
  right: 0px;
} */

.page-enter {
  opacity: 0;
  transform: translateY(200px); 
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 1000ms, transform 1000ms;
}

.page-exit {
  opacity: 1;
  transform: translateY(0px);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1000ms, transform 1000ms;
}



