.fadeIn {
    opacity: 0;
    animation: fadeIn 1s normal linear 1 forwards;
}

.fadeOut {
    opacity: 1;
    animation: fadeOut 1s normal linear 1 forwards;
}


/*
* ANIMATION
************/

@keyframes fadeIn {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}