@mixin App() {
    width: 100vw;
    height: 100vh;
}

.App {
    @include App();
}

.MenuBtn {
    width: 300px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.App {
    $viewVh: 100vh;
    min-height: $viewVh * 1.1;
}

.view {
    height: inherit;
}