/* .LogoContainer.mini {
    width: 200px;
    transition: 2s;
} */


/* .LogoContainer{
   
} */

$smallDefault: 160px;


.LogoContainer.enter {
    width: 100%;
}

.LogoContainer.enter-active {
    width: $smallDefault;
}

.LogoContainer.enter-done,
.LogoContainer.exit,
.LogoContainer.exit-done {
    width: $smallDefault;
}

.LogoContainer.enter-done {
    width: $smallDefault;
    right: -40px;
    top: -20px;
}



/* .LogoContainer.exit 
  transform: $_middle $_scaleDefault;
}

.LogoContainer.exit-active {
  opacity: 0;
  transform: $_bottom;
}

.LogoContainer.exit-done {
  transform: translate3d(-100vw,0,0);
  z-index: -1;
} */