$_left: translate3d(-50vw, 0px, 0px); 
$_top: translate3d(0px, -50vh, 0px); 
$_right: translate3d(50vw, 0px, 0px); 
$_bottom: translate3d(0px, 50vh, 0px); 
$_middle: translate3d(0px, 0px, 0px); 
$_scaleDown: scale(.8);

$_opacityTime: 1000ms;
$_transformTime: 500ms;

.view.enter {
  opacity: 0;
}

.view.enter-active {
  opacity: 1;
  transform: $_middle;
  transition: opacity $_opacityTime, transform $_transformTime;
}

.view.exit {
  opacity: 1;
  transform: $_middle;
}

.view.exit-active {
  opacity: 0;
  transform: $_scaleDown;
  transition: opacity 350ms, transform $_transformTime;
  
}

.Music.enter {
  transform: $_left;
}

.Music.enter-active {
  transform: $_middle;
}

.Story.enter {
  transform: $_top;
}

.Story.enter-active {
  transform: $_middle;
}

.Work.enter {
  transform: $_bottom;
}

.Work.enter-active {
  transform: $_middle;
}

.Contact.enter {
  transform: $_right;
}

.Contact.enter-active {
  transform: $_middle;
}















